body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 54%, 90%);
  font-size: 10px;
  font-family: Outfit, Arial;
  color: hsl(24, 5%, 18%);
}

.div {
  margin: 0;
}

.attribution {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: white;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container {
  display: flex;
  flex-direction: column;
  display: block;
  width: 400px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border: none;
  border-radius: 15px;
}


.image {
  width: 100%;
}

.title {
  font-family: Young Serif, Arial;
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro {
  font-family: Outfit, Arial;
  font-size: 10px;
  margin-bottom: 20px;
}

.preparation {
  background-color: hsl(330, 100%, 98%);
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.time {
  font-family: Outfit, Arial;
  font-size: 13px;
  color: hsl(332, 51%, 32%);
  font-weight: 700;
}

.detail {
  font-family: Outfit, Arial;
  font-size: 10px;
  margin-bottom: 5px;
}

ul.a {
  padding-inline-start: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.preparation li {
  padding-left: 10px;
}

li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients {
  margin-top: 20px;
}

h1 {
  font-family: Young Serif, Arial;
  font-size: 18px;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
}


ul.b {
  padding-inline-start: 15px;
}

.ingredients li {
  padding-left: 10px;
}

.line1 {
  margin-top: 20px;
  background: hsl(30, 18%, 87%);
  height: 1px;
}

.line2 {
  margin-top: 20px;
  background: hsl(30, 18%, 87%);
  height: 1px;
}

ol.c {
  padding-inline-start: 15px;
}

.instructions li {
  padding-left: 10px;
}

.nutrition .intro {
  margin-bottom: 5px;
}

.menu-nest {
  display: flex;
  flex-direction: column;
}

.serving {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}

.name {
  flex: 1;
  padding-left: 20px;
}

.value {
  flex: 1;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.line3 {
  background: hsl(30, 18%, 87%);
  height: 1px;
}